.container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.left {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.right {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.center {
    width: 70%;
    height: 100%;
    justify-content: center;
}
.center_fixed_extension {
    height: 10vh;
    display: flex;
    justify-content: center;
}
.center_fixed_extension_title {
    height: 10vh;
    flex: 2;
    display: flex;
    align-items: center;
}
.center_fixed_extension_contents {
    height: 10vh;
    flex: 8;
    display: flex;
    align-items: center;
}

.center_custom_extension {
    height: 10vh;
    display: flex;
    
}
.center_custom_extension_title {
    height: 10vh;
    flex: 2;
    display: flex;
    align-items: center;
}
.center_custom_extension_contents {
    height: 10vh;
    flex: 8;
    display: flex;
    align-items: center;
}

.center_extension_view {
    height: 60vh;
    display: flex;
}
.center_extension_view_title {
    height: 60vh;
    flex: 2;
    display: flex;
}
.center_extension_view_contents {
    height: 60vh;
    flex: 8;
    display: flex;
}
.center_extension_view_contents_viewbox {
    width: 400px;
    height: 200px;
    border: 1.5px solid;
    border-radius: 5px;
}
.center_extension_view_contents_viewbox_count {
    height: 10px;
    margin-left: 10px;
}
.center_extension_view_contents_viewbox_list {
    display: flex;
    height: 170px;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
}
